

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-body: #fff;
  --h1-color: #370e19;
  --a-color: #00f;
  --a-visited-color: #800080;
  --a-hover-color: #576405;
  --a-active-color: #008000;
  --input-bg-color: #7b5d35;
  --button-txt-color: #fff;
  --grid-item-bgcolor: #d3d3d3;
  --h2-color: #a52a2a;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}

h1 {
  color: var(--h1-color);
  font-size: 30px;
  font-weight: 500;
}

h2 {
  color: var(--h2-color);
}

a {
  color: var(--a-color);
}

a:visited {
  /* visited link */
  color: var(--a-visited-color);
}

a:hover,
a:focus {
  color: var(--a-hover-color);

  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--a-active-color);
}

button,
.cv-button,
input[type="submit"] {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--input-bg-color);
  color: var(--button-txt-color);
  text-decoration: none;

  /* adds spacing to the button  */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button :focus,
button :hover,
.cv-button:focus,
.cv-button:hover,
input[type="submit"]:hover,
input[type="submit"]:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  color: var(--button-txt-color);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50px;
}

.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  height: 50px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Displays the  grid in work page */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* Adds background color to  grid items and makes the text to center in work page */
.grid__item {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: var(--grid-item-bgcolor);
  transition: transform 0.3s, background-color 0.3s;
}

/* changes the pointer to hand pointer when  hovered over grid item in work page */
.grid__item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Makes the content in aboutpage,workpage,contactpage to the center */
.about-description,
.work-profile,
.contact-details,
.skills-table {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.user-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.user-contact label {
  width: 150px; /* Adjust the width  */
  margin-right: 20px;
  text-align: right;
}

@keyframes color-change {
  from {
    fill: #3050a4;
  }

  to {
    fill: #19460f;
  }
}

/* animates the html-icon color */
.html-icon {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100px);
  }
}

/* animates the cloud in linear */
.css-icon {
  animation-duration: 30s;
  animation-name: moveUp;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* Adjusts the grid according to screen sizes */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Adjusts the grid according to screen sizes */
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Adjusts the grid according to screen sizes */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
